body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/fundo.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

.hidden {
    display: none;
}

#intro-screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    cursor: pointer;
}

#intro-screen h1 {
    font-size: 2em;
    color: #ffffff;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    text-align: center;
    width: 300px;
    height: 400px;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 50%; /* Torna a imagem circular */
    object-fit: cover; /* Mantém a proporção da imagem */
    margin-top: 20px; /* Ajusta o espaçamento acima da imagem */
}

.card.half-circle img {
    border-radius: 0; /* Remove o formato circular */
}

.card h2 {
    font-size: 1.8em;
    margin: 20px 0;
}

.card .visit-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00000; /* Azul */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.card .visit-btn:hover {
    background-color: #000000; /* Azul mais escuro */
}
